body {
    background-color: #e0e0e0;
}

h3 {
    text-align: center;
}

.logo {
    margin-top:50px;
    display: flex;
    justify-content: center;
    border-radius: 15px 15px 0px 0px;
    background: -webkit-linear-gradient(black, #784242);
    color:#a54848;
}

.container {
    position: relative;
    text-align: center;
    opacity: 0.7;
    color: #EFEFEF;
    text-shadow: 1px 1px #bf9f41;
    text-decoration: none;
}

.container:hover {
    color: #EFEFEF;
    text-shadow: 1px 1px #bf9f41;
    text-decoration: none;
    opacity: 1;
}

.container img:hover {
    opacity: 1;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hemispheres img {
    opacity: 0.7;
}

.hemispheres img:hover {
    opacity: 1;
}

.hemispheres {
    display: flex;
    justify-content: left;
    color: #a37a6d;
    padding: 10px;

}
.hemispheres h4 {
    font-size:14px;
    text-align:center;
    vertical-align: middle;
    padding: 10px;
}

.box_contain_head {
    background: -webkit-linear-gradient(#784242, black);
    border-radius: 15px 15px 0px 0px;
    padding:10px;
    text-align: center;
}

.hemi_contain_head {
    background: -webkit-linear-gradient(#784242, black);
    border-radius: 15px 15px 0px 0px;
    padding:10px;
    text-align: center;
}

.hemi_contain {
    background-color: #000;
    border-radius: 0px 0px 15px 15px;
    padding:10px;
}

.hemi_contain h3 {
    font-size: 14px;
}

.hemi_contain_box {
    background-color: #000;
    border-radius: 0px 0px 0px 0px;
    padding:10px;
    display: flex;
    justify-content: center;
}

.hemi_contain_footer {
    background-color: #000;
    background: -webkit-linear-gradient(black, #784242);
    border-radius: 0px 0px 15px 15px;
    padding:25px;
}

.header {
    color: #3e2222;
    background-color: #9c7777;
    background: -webkit-linear-gradient(#784242, #9c7777);
    border-radius: 15px 15px 0px 0px;
    padding:15px;
}

.box {
    color: #bf7341;
    background: #9c7777;
}

.footer {
    color: #bf9f41;
    background: #9c7777;
    border-radius: 0px 0px 15px 15px;
    padding: 15px;
    display: flex;
    justify-content: center;
    margin-bottom:50px;
}

.footer img {
    border:0px;
    height:50px;
    width: 50px;
}

.feat_img {
    max-width:100%;
    max-height:100%;
}

.data_table {
    color:#9c7777;
}

.data_table th, td {
    padding:15px;
    text-align: left;
}