<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mars</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
  <div class="container-fluid">
    <div class="row" id="logo">
      <div class="col-md-3">
      </div>
      <div class="col-md-6 logo">
        <a href="/scrape">
          <div class="container">
            <img class="hemi" src={{ url_for('static', filename='mars_logo2.png') }}></img>
            <div class="centered">
              SCRAPE MARS
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-3">
      </div>
    </div>
    <div class="row" id="header">
      <div class="col-md-1">
      </div>
      <div class="col-md-10 header">
        <h3>Mission to Mars<h3>
      </div>
      <div class="col-md-1">
      </div>
    </div>
    <div class="row" id="box">
      <div class="col-md-1">
      </div>
      <div class="col-md-10 box">
        <div class="row">
          <div class="col-md-4 hemisphere" id="hemisphere">
            <div class="hemi_contain_head">
              <h3>Hemispheres</h3>
            </div>
            <div class="hemi_contain">
              <div class="hemispheres">
                <a href={{mars.hemisphere_data[0]['img_url']}} target="_blank"><img src={{mars.hemisphere_data[0]['thumb']}}></img></a>
                <h4>{{mars.hemisphere_data[0]['title']}}</h4>
              </div>
              <div class="hemispheres">
                <a href={{mars.hemisphere_data[1]['img_url']}} target="_blank"><img src={{mars.hemisphere_data[1]['thumb']}}></img></a>
                <h4>{{mars.hemisphere_data[1]['title']}}</h4>
              </div>
              <div class="hemispheres">
                <a href={{mars.hemisphere_data[2]['img_url']}} target="_blank"><img src={{mars.hemisphere_data[2]['thumb']}}></img></a>
                <h4>{{mars.hemisphere_data[2]['title']}}</h4>
              </div>
              <div class="hemispheres">
                <a href={{mars.hemisphere_data[3]['img_url']}} target="_blank"><img src={{mars.hemisphere_data[3]['thumb']}}></img></a>
                <h4>{{mars.hemisphere_data[3]['title']}}</h4>
              </div>
            </div>
          </div>
          <div class="col-md-8 hemisphere" id="maincontent">
            <div class="box_contain_head">
              <h4 class="heading">{{mars.news_title}}</h4>
              <small>{{mars.news_p}}</small>
            </div>
            <div class="hemi_contain_box">
              <a href="{{mars.featured_img}}" target="_blank"><img class="feat_img" src={{mars.featured_img}}></img></a>
            </div>
            <div class="hemi_contain_box">
              <div class="data_table" id="data table">
                {{mars.mars_facts|safe}}
              </div>
            </div>
            <div class="hemi_contain_footer">
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-1">
      </div>
    </div>
    <div class="row" id="footer">
      <div class="col-md-1">
      </div>
      <div class="col-md-10 footer">
        <a href="https://github.com/tylerhill122/" target="_blank"><img src="{{ url_for('static', filename='github.png') }}" title="Go to my GitHub page!"></a>
      </div>
      <div class="col-md-1">
      </div>
    </div>
  </div>
</body>

</html>